
body{
  background: #e0e0e0;
}

.instr-iface{
   position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100%; height: 100%;
  .knob{
    position:absolute;
    .hidden {display: none;}
  }
  &.volca-keys{
    width:1000px;
    height:596px;
    background: url('../img/vkeys.jpg') no-repeat;
    .cc040{ left:73px;  top:121px}
    .cc041{ left:73px;  top:243px}
    .cc042{ left:205px; top:103px}
    .cc005{ left:204px; top:173px}
    .cc043{ left:204px; top:243px}
    .cc044{ left:303px; top:103px}
    .cc011{ left:302px; top:173px}
    .cc045{ left:302px; top:242px}
    .cc046{ left:401px; top:104px}
    .cc047{ left:401px; top:174px}
    .cc048{ left:402px; top:244px}
    .cc049{ left:499px; top:104px}
    .cc050{ left:499px; top:173px}
    .cc051{ left:498px; top:244px}
    .cc052{ left:629px; top:165px}
    .cc053{ left:720px; top:166px}
  }

}

/* Knob   http://codepen.io/prythm/pen/RNBzeK */

.knob-input(@size; @line-size; @hand-margin; @hand-size) {
  width: auto; height: auto; display: inline-block; cursor: pointer; position: absolute; margin: 0;
  label { display: block; text-align: center; font-size: 1em;}
  canvas.knob-progress {position: relative; top: 1; left: 1; z-index: 1;}
  div.knob-face {
    display: inline-block;
    width: @size;
    height: @size;
    border-radius: @size;
    border: @line-size solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    div.knob-hand {
      width: @line-size;
      background-color: transparent;
      box-sizing: border-box;
      border-bottom: @hand-size solid #FFFFFF;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: @hand-margin;
    }
  }
}

div.knob.small{
  .knob-input(2em, 0.2em, -0.1em, 0.8em);
}

div.knob.large{
  .knob-input(4em, 0.2em, -0.1em, 1.4em);
}


